@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Italic.woff") format("woff");
}

/* Global */

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
}

a {
  display: block;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

a:active,
a:focus {
  opacity: 0.5;
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Body */

.page {
  height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ae7c78;
}

.page__body {
  position: relative;
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto 80px;
}

.section__title {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #ae7c78;
}

.main-title,
.discount__title {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 400;
  font-size: 55px;
  line-height: 56px;
}

.main-title--italic {
  font-style: italic;
}

.lead {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
}

.button {
  display: inline-block;
  width: 285px;
  padding: 30px 60px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #ae7c78;
  border-radius: 40px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

.button:active,
.button:focus {
  opacity: 0.5;
}

.item__title {
  font-weight: 500;
}

.title {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.header {
  margin: 25px 0 0;
  border-top: 1px solid #ae7c78;
  border-bottom: 1px solid #ae7c78;
}

.header__container {
  position: relative;
  margin: 0 auto;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: translate(-50%, 0);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav__item {
  padding: 22px 0;
}

.nav__item:nth-of-type(3n + 3) {
  margin-right: 224px;
}

.nav__item:last-of-type {
  margin-right: 0;
}

.nav__link {
  color: #ae7c78;
}

.intro__wrapper {
  margin: 80px auto 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.intro__item:nth-child(2) {
  margin-top: 58px;
}

.intro__title {
  margin-bottom: 24px;
}

.intro__lead {
  margin: 0 0 64px;
  vertical-align: top;
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.features__item {
  position: relative;
  padding-left: 100px;
}

.item--delivery::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 82px;
  height: 52px;
  display: block;
  background: url("../img/svg/features-delivery.svg") no-repeat;
}

.item--fresh::before {
  content: "";
  position: absolute;
  top: 0;
  left: 29px;
  width: 52px;
  height: 52px;
  display: block;
  background: url("../img/svg/features-fresh.svg") no-repeat;
}

.item--photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 23px;
  width: 59px;
  height: 52px;
  display: block;
  background: url("../img/svg/features-photo.svg") no-repeat;
}

.item__title {
  margin-bottom: 10px;
}

.item__text {
  margin: 0;
}

.bestseller__slider {
  position: relative;
  width: 794px;
  margin: 0 auto 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__title {
  margin-bottom: 36px;
}

.slider__buttons {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.slider__button {
  width: 51px;
  height: 16px;
  cursor: pointer;
}

.slider__button--back {
  margin-right: 10px;
  background-image: url("../img/svg/arrow-back.svg");
}

.slider__button--back:hover {
  margin-right: 20px;
}

.slider__button--forward {
  margin-left: 10px;
  background-image: url("../img/svg/arrow-forward.svg");
}

.slider__button--forward:hover {
  margin-left: 20px;
}

.slider__list {
  width: 100%;
  margin: 0 0 24px;
}

.slider__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas: "slider__content slider__image";
}

.slider__content {
  grid-area: slider__content;
}

.content__title {
  margin: 27px 0 20px;
}

.content__title,
.content__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.content__text {
  margin: 0 0 24px;
}

.content__data {
  margin: 0 0 22px;
}

.content__price {
  margin: 0 0 64px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.catalog__item {
  min-height: 442px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.catalog__item--wedding {
  background-image: url("../img/raster/catalog-wedding.jpg");
}

.catalog__item--peony {
  background-image: url("../img/raster/catalog-peony.jpg");
}

.catalog__item--select {
  background-image: url("../img/raster/catalog-select.jpg");
}

.catalog__link {
  position: relative;
  width: 100%;
  min-height: 442px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.catalog__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(174, 124, 120, 0.6);
  border-radius: 10px;
  z-index: 0;
  display: block;
}

.catalog__link:hover {
  opacity: 1;
}

.catalog__link:hover::before {
  background-color: rgba(174, 124, 120, 0.1);
}

.link__title,
.link__lead {
  z-index: 1;
}

.link__lead {
  margin: 8px 0 0;
}

.discount__wrapper {
  display: grid;
  grid-template-columns: 1fr 590px;
  background-color: #ae7c78;
}

.discount__content {
  padding: 40px 102px 64px;
  box-sizing: border-box;
}

.discount__title {
  margin-bottom: 30px;
  letter-spacing: 0.02em;
}

.discount__title,
.discount__lead {
  color: #ffffff;
}

.steps__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps__title {
  margin-bottom: 36px;
}

.steps__list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.steps__item {
  position: relative;
  padding-top: 62px;
}

.steps__item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.steps__item--order::before {
  width: 66px;
  height: 52px;
  background: url("../img/svg/steps-order.svg") no-repeat;
}

.steps__item--details::before {
  width: 38px;
  height: 52px;
  background: url("../img/svg/steps-details.svg") no-repeat;
}

.steps__item--payment::before {
  width: 70px;
  height: 52px;
  background: url("../img/svg/steps-payment.svg") no-repeat;
}

.steps__item--delivery::before {
  width: 83px;
  height: 52px;
  background: url("../img/svg/steps-delivery.svg") no-repeat;
}

.order-step__title {
  margin: 0 0 8px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.order-step__description {
  margin: 0;
  text-align: center;
}

.news__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 220px);
  gap: 20px;
  grid-template-areas:
    "content img img-big"
    "content img img-big";
}

.news__content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.news__title {
  margin: 65px 0 43px;
}

.news__lead {
  margin-bottom: 40px;
}

.social__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: grid;
  align-items: center;
}

.social__icon--instagram,
.social__icon--facebook,
.social__icon--twitter {
  fill: #d89999;
}

.news__image {
  justify-self: end;
}

.news__image--big {
  grid-area: img-big;
}

.reviews__wrapper {
  padding: 34px 0 62px;
  text-align: center;
  border: 1px solid #ae7c78;
}

.reviews__title {
  margin-bottom: 44px;
}

.reviews__list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.review {
  margin: 0;
  padding: 0 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__text {
  margin: 0 0 16px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.review__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.contacts {
  position: relative;
  width: 100%;
  height: 644px;
}

.contacts__map-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 644px;
  overflow: hidden;
}

.contacts__map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacts__container {
  margin-bottom: 0;
}

.contacts__card {
  position: relative;
  top: 47px;
  left: 102px;
  bottom: 77px;
  width: 386px;
  padding: 45px 35px 58px;
  background: #f7fafc;
  box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
  border-radius: 12px;
  box-sizing: border-box;
  z-index: 10;
}

.contacts__lead {
  margin-bottom: 40px;
  letter-spacing: normal;
}

.contacts__data {
  margin: 0;
}

.contacts__ctr {
  margin-bottom: 13px;
}

.contacts__ctr:first-child {
  margin-bottom: 16px;
}

.contacts__ctr:last-child {
  margin-bottom: 17px;
}

.contacts__description {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.contacts__description:nth-of-type(3) {
  margin: 0 0 30px;
}

.contacts__description:last-of-type {
  margin: 0;
}

.contacts__link {
  color: #ae7c78;
}

.page__footer {
  height: 97px;
  background-color: #ae7c78;
  box-sizing: border-box;
}

.footer__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 1fr 100px;
}

.footer__logo {
  margin-top: 24px;
  justify-self: start;
}

.footer__nav-list {
  margin: 20px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__nav-item {
  margin: 0 68px 0 0;
}

.footer__nav-item:last-child {
  margin-right: 0;
}

.footer__social {
  margin-top: 30px;
  justify-self: end;
}

.nav__link--footer {
  color: #ffffff;
}

.social__icon--footer {
  fill: #ffffff;
}
